*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-wrapper{
    width: 600px;
    margin: 0 auto;
    box-shadow: 4px 4px 4px lightgray;
    border-radius: 10px;
    padding: 20px;
}

.h1{
    text-align: center;
}

form{
    width: 100%;

}

form input{
    width: 90%;
    padding: 7px;
}

form button{
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    padding: 7px;
}

ul li{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}


input [type='checkbox']{
    margin-right: 10px;
}
.actions span{
    margin-right: 10px;
    cursor: pointer;
}